<html>

<head>
    <title>Employees Filter</title>
    <!-- Includes Css files -->
    <link rel="stylesheet" href="css/dropzone.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Includes Js files -->
    <script src="lib/angular.min.js"></script>

    <script src="js/App.js"></script>
    <script src="js/fileAppControllers.js"></script>
    <script src="js/fileAppDirectives.js"></script>

    <script src="js/dropzone.js"></script>

    <script src="js/script.js"></script>
    <script src="js/customFilter.js"></script>

</head>

<body ng-app="myApp" ng-controller="EmployeesController">
    <h1>EMPLOYEES DETAILS</h1>
    <div id="mainContainer">
        <div id="inputContainer">
            Rows to display : <input type="number" ng-model="limitNumber" min="1" max="5"> Sort by :
            <select ng-model="sortColumn">

                <option value="name">Name</option>
                <option value="date">Date</option>
                <option value="gender">Gender</option>
                <option value="salary">Salary</option>
                </select>
            <select ng-model="descend">
                <option value="+">Ascending</option>
                <option value="-">Descending</option>
                </select> Search : <input type="text" ng-model="searchText" />
            <!--in Column <select ng-model="searchColumn">
                <option value=".">All</option>
                <option value=".name">Name</option>
                <option value=".date">Date</option>
                <option value=".gender">Gender</option>
                <option value=".salary">Salary</option>-->
            </select>
            Hide Salary : <input type="checkbox" ng-model="hideSalary">
        </div>
        <br />
        <table class="tblEmp" border="1" cellpadding=10>
            <tr>
                <td>Name</td>
                <td>DOB</td>
                <td>Gender</td>
                <td>Salary (number)</td>
                <td ng-hide="hideSalary">Salary (currency)</td>
                <td ng-show="hideSalary">Salary (currency)</td>
            </tr>
            <tbody>
                <tr ng-repeat="emp in employees 
                | limitTo : limitNumber | orderBy : descend+sortColumn | filter : searchText">
                    <td>{{emp.name | uppercase}}</td>
                    <td>{{emp.dob | date : "dd:MM:yyyy"}}</td>
                    <td>{{emp.gender | CapitalizeFirstLetter}}</td>
                    <td>{{emp.salary | number}}</td>
                    <td ng-hide="hideSalary">{{emp.salary | currency:"INR"}}</td>
                    <td ng-show="hideSalary"> #### </td>
                </tr>
            </tbody>
        </table><br>
    </div>
    <div class="col-xs-6 col-xs-offset-3" ng-app="fileApp" ng-controller="fileCtrl" ng-cloak>
        <div>
            <form action="/Uploads/" class="dropzone" id="dropzone">
                <div class="dz-default dz-message">
                </div>
            </form>
        </div>
        <!--<div class="pull-right">
        <button class="btn btn-success" ng-click="uploadFile()">Upload File</button>
        <button class="btn btn-danger" ng-click="reset()">Reset Dropzone</button>
    </div>
    <div>
        <form>
            <label>File to download</label>
            <input ng-model="filename" type="text" placeholder="Filename" />
            <a class="btn btn-primary" href="" ng-href="{{ partialDownloadLink + filename }}">Download File</a>
        </form>
    </div>-->
    </div>

</body>

</html>