<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Technologies</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="lib/angular.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/customFilter.js"></script>

</head>

<body ng-app="myApp" ng-controller="myController">
    <h1>Technologies</h1>
    <div id="mainContainer">
        <!-- *****This is to include the employees html file in the current file*****
            <div id="employeesContainer" ng-controller="EmployeesController">
            <div ng-include="employeeView"></div>
            Test To check for rebase operation
        </div>-->
        <table class="tblItems" border="1" cellpadding=10>
            <tr>
                <td>Name</td>
                <td>Likes</td>
                <td>Dislikes</td>
                <td>Like</td>
                <td>Dislike</td>
                <td>Remove</td>
            </tr>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.likes}}</td>
                    <td>{{item.dislikes}}</td>
                    <td><button name="btnLike" ng-click="IncrementLIkes(item)">
                    <img src="./img/like.png" alt="Like"/></button></td>
                    <td><button name="btnDisLike" ng-click="IncrementDisLikes(item)">
                    <img src="./img/dislike.png" alt="DisLike"/></button></td>
                    <td><button name="btnRemove" ng-click="RemoveItem(item)">
                    <img src="./img/delete.png" alt="Delete"/></button></td>
                </tr>
            </tbody>
        </table><br>
        <input type="text" ng-model="item">
        <button ng-click="InsertItem(item)" name="AddItem">Add Item</button>
        <span class="errorMsg" ng-model="error">{{ error }}</span>
    </div><br/>
    <div ng-controller="serviceController">
        <button ng-click="GenerateRandomNumber()">Click to Generate Random Number (Service)</button>
        {{RandomNumber}}
        <br />
        <br />
        <button ng-click="GenerateRandomNumberByFactory()">Click to Generate Random Number(Factory)</button>
        {{RandomNumberTwo}}
        <br />
        <br />
        <button ng-click="GenerateRandomNumberByProvider()">Click to Generate Random Number(Provider)</button>
        {{RandomNumberThree}}</div>
</body>

</html>