<html>

<head>
    <title>Technologies</title>
    <script src="lib/angular.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="myApp" ng-controller="myController">
    <h1>Technologies</h1>
    <div id="mainContainer">
        <div id="btnContainer">
        </div>
        <table class="tblItems" border="1" cellpadding=10>
            <tr>
                <td>Name</td>
                <td>Likes</td>
                <td>Dislikes</td>
                <td>Like</td>
                <td>Dislike</td>
                <td>Edit</td>
                <td>Remove</td>
            </tr>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.likes}}</td>
                    <td>{{item.dislikes}}</td>
                    <td><button name="btnLike" ng-click="IncrementLIkes(item)">
                    <img src="./img/like.png" alt="Like"/></button></td>
                    <td><button name="btnDisLike" ng-click="IncrementDisLikes(item)">
                    <img src="./img/dislike.png" alt="DisLike"/></button></td>
                    <td><button name="btnEdit" ng-click="EditItem(item)">
                    <img src="./img/delete.png" alt="Edit"/></button></td>
                    <td><button name="btnRemove" ng-click="RemoveItem(item)">
                    <img src="./img/delete.png" alt="Delete"/></button></td>
                </tr>
            </tbody>
        </table><br>
        <input type="text" ng-model="item">
        <button ng-click="InsertItem(item)" name="AddItem">Add Item</button>
        <span class="errorMsg" ng-model="error">{{ error }}</span>
    </div>
</body>

</html>